<ul>
  {% if site.youtube %}<li><a class="social-btn" href="https://youtube.com/{{ site.youtube }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube"></i></a></li>{% endif %}
  {% if site.instagram %}<li><a class="social-btn" href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i></a></li>{% endif %}
  {% if site.twitter %}<li><a class="social-btn" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-twitter"></i></a></li>{% endif %}
  {% if site.email %}<li><a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope"></i></a></li>{% endif %}
  {% if site.facebook %}<li><a class="social-btn" href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-facebook"></i></a></li>{% endif %}
  {% if site.patreon %}<li><a class="social-btn" href="http://www.patreon.com/{{ site.patreon }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-patreon"></i></a></li>{% endif %}
  </ul>